@import '../node_modules/angular/angular-csp.css';
@import '../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    background: #eee;
}
.text-center {
    text-align: center;
}
.row.padtop {
    padding-top: 2em;
}
.row.row-flag {
    height: 90px;
}
h1.wrong {
    color: #990000;
}
h1.great {
    color: #009900;
}
